* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-base: "Raleway", system-ui, sans-serif;

  --title-lg: 700 3rem var(--ff-base);
  --title-md: 700 2.5rem var(--ff-base);
  --title-sm: 700 2rem var(--ff-base);
  --title-xs: 700 1rem var(--ff-base);
  --subtitle: 500 2rem/2 var(--ff-base);
  --body-lg: 1.25rem/1.4 var(--ff-base);
  --body-md: 1rem/1.4 var(--ff-base);
  --body-sm: 0.875rem/1.4 var(--ff-base);
  --body-xs: 0.75rem/1.4 var(--ff-base);
  --button: 700 0.875rem var(--ff-base);
  --link: 500 0.875rem var(--ff-base);
  --tag: 700 0.625rem var(--ff-base);

  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #000506;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 0 1.25rem;
  height: 2.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  color: var(--text-title);
  font: var(--button);
  border: none;
}

.btn.btn-primary {
  background-color: var(--pink-dark);

  &:hover {
    background-color: var(--pink-base);
  }
}

.btn.btn-secondary {
  background-color: var(--blue-dark);

  &:hover {
    background-color: var(--blue-mid);
  }
}

.link {
  font: var(--link);
  color: var(--blue-light);

  &:hover {
    color: var(--text-body);
  }
}

.social-link {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: var(--shape-stroke);
    inset: 0;
    z-index: 0;
    transform: scale(0);
    transition: transform 300ms;
  }

  &:hover::before {
    transform: scale(1);
  }
}

.social-link img {
  position: relative;
}

.text-img {
  width: min(5rem, 100%);
  height: auto;
  transition: transform 800ms;
}

.card {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26rem;
  background-color: var(--shape-base);
  border: 1px solid var(--shape-stroke);
  padding: 2rem 2rem 1.75rem;
  position: relative;
  width: 288px;
  z-index: 1;
  transition: background-color 250ms;

  &:hover {
    background-color: var(--shape-hover);
    z-index: 2;
  }
}

.card.card-primary img {
  position: absolute;
  top: -3.2rem;
}

.card.card-secondary:first-child img {
  position: absolute;
  top: -2rem;
  left: -2.25rem;
}

.card.card-secondary:last-child img {
  position: absolute;
  bottom: -1rem;
  right: -3.25rem;
}

.card .card-header,
.card .card-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card .tag {
  position: absolute;
  background-color: var(--shape-stroke);
  border-radius: 999px;
  padding: 0.5rem 1.25rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--tag);
  top: 1.5rem;
  right: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.card .card-price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card .card-header > span {
  font: var(--title-xs);
}

.card.card-primary .card-header > span {
  color: var(--pink-light);
}

.card.card-secondary .card-header > span {
  color: var(--blue-light);
}

.card .card-details li::before {
  content: "";
  background-size: 0.875rem;
  width: 0.875rem;
  height: 0.875rem;
  position: relative;
  display: inline-block;
}

.card.card-primary .card-details li::before {
  background-image: url(../assets/icons/star-purple.svg);
}

.card.card-secondary .card-details li::before {
  background-image: url(../assets/icons/star-blue.svg);
}

.card .card-price p {
  color: var(--text-title);
  font: var(--title-md);
}

.card .card-price small {
  font: var(--title-xs);
}

.card .card-price span {
  color: var(--text-label);
  font: var(--body-sm);
}

.card .card-details ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card .card-details li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: var(--body-xs);
}

.card .card-details .btn {
  width: 100%;
}

body {
  background-color: var(--shape-background);
  color: var(--text-body);
  font-family: var(--ff-base);
  background-image: url(../assets//icons/blur.svg);
}

.container {
  width: min(1120px + 2rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
}

.hero,
.hero .container {
  position: relative;
}

.hero {
  min-height: 948px;
}

.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-block-start: 3.5rem;
  z-index: 1;
}

.hero .hero-image {
  background-image: url(../assets/images/hero-background.png);
  display: flex;
  justify-content: center;
  min-height: inherit;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-block-end: 6rem;
}

.hero .hero-image-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 278px;
  max-width: 656px;
}

.hero .hero-image-text h1 {
  color: var(--text-title);
  font: var(--title-lg);
}

.hero .hero-image-text p {
  font: var(--body-lg);
  max-width: 568px;
}

.hero .hero-section {
  padding-block: 7rem 10rem;
  margin-inline: auto;
  max-width: 71rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero .hero-section p {
  font: var(--subtitle);
  text-align: center;
}

.hero .hero-section span {
  color: var(--blue-light);
  font-weight: 700;
}

.hero .hero-section img {
  position: absolute;
}

.hero .hero-section img:nth-child(1) {
  transform: rotate(20deg);
  top: 0.5rem;

  &:hover {
    transform: rotate(31deg) scale(1.1);
  }
}

.hero .hero-section img:nth-child(2) {
  transform: rotate(99deg);
  bottom: 71px;
  left: 0;

  &:hover {
    transform: rotate(110deg) scale(1.1);
  }
}

.hero .hero-section img:nth-child(3) {
  transform: rotate(-14deg);
  right: 0;
  bottom: 76px;

  &:hover {
    transform: rotate(-4deg) scale(1.1);
  }
}

.kit {
  position: relative;
  text-align: center;
  margin-block: 15rem;
}

.kit h2 {
  color: var(--text-title);
  font: var(--title-sm);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.kit h2::before,
.kit h2::after {
  content: "";
  background-image: url(../assets/icons/star-purple.svg);
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}

.kit p {
  font: var(--body-md);
  margin-block: 0.5rem 5.5rem;
}

.kit .kit-images {
  position: relative;
  padding-block: 134px 169px;
}

.kit .kit-images img.book {
  width: min(467px, 100%);
  height: auto;
  z-index: 1;
  position: relative;
}

.kit .kit-images img:not([src*="book.png"]) {
  position: absolute;
  z-index: -1;
}

.kit .kit-images img:nth-child(2) {
  top: 70px;
  left: 96px;
}

.kit .kit-images img:nth-child(3) {
  left: 113px;
  top: 455px;
}

.kit .kit-images img:nth-child(4) {
  width: 222px;
  transform: rotate(-8deg);
  left: 170px;
  bottom: 90px;
}

.kit .kit-images img:nth-child(5) {
  width: 180px;
  bottom: 313px;
  right: 190px;
  transform: rotate(12deg);
  z-index: 0;
}

.kit .kit-images img:nth-child(6) {
  width: 180px;
  bottom: 209px;
  right: 90px;
  transform: rotate(22deg);
}

.kit .kit-images img:nth-child(7) {
  bottom: 35px;
  right: 147px;
}

.kit .kit-blur,
.pricing .pricing-blur {
  position: absolute;
  width: 100%;
  height: 930px;
  border-radius: 999px;
  filter: blur(600px);
  bottom: 0;
  z-index: -2;
}

.kit .kit-blur {
  background-color: var(--pink-low);
}

.pricing {
  position: relative;
  background-image: url(../assets/images/pricing-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
  margin-block: 12rem 19rem;
}

.pricing h2 {
  font: var(--title-sm);
  color: var(--text-title);
  text-align: center;
  max-width: 294px;
  margin-inline: auto;
}

.pricing .pricing-blur {
  background-color: var(--shape-base);
}

.pricing .cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.pricing .card:first-child,
.pricing .card:last-child {
  position: absolute;
  z-index: 0;

  &:hover {
    z-index: 2;
  }
}

.pricing .card:first-child {
  transform: translateX(-105%) rotate(-8deg) translateY(60px);
}

.pricing .card:last-child {
  transform: translateX(105%) rotate(8deg) translateY(60px);
}
